bin/
logs/
tests/test_memory_overflow
kernel/*.o
kernel/*.ko
kernel/*.mod
kernel/*.mod.c
kernel/*.mod.o
kernel/.*.cmd
kernel/Module.symvers
kernel/modules.order
.DS_Store
boilerplate/*.o
boilerplate/*.ko
boilerplate/*.mod
boilerplate/*.mod.c
boilerplate/.*.cmd
boilerplate/*.symvers
boilerplate/*.order
boilerplate/Module.symvers
boilerplate/modules.order
boilerplate/engine
boilerplate/cpu_hog
boilerplate/io_pulse
boilerplate/memory_hog
boilerplate/logs/
rootfs-base/
rootfs-*/
